<h4 *ngIf="appState$.pending">loading...</h4>

<p *ngIf="!appState$.pending && !appState$.rates"><i>Select currency, type date and press 'Display' to continue.</i></p>

<table class="table" *ngIf="appState$.rates">
  <thead>
    <tr>
      <th>
        <div (click)="onClick()">
          Currency 
          <i class="fa fa-chevron-up" *ngIf="appState$.sortDirect === 'asc'" ></i>
          <i class="fa fa-chevron-down" *ngIf="appState$.sortDirect === 'desc'"></i>
        </div>
      </th>
      <th>Buy</th>
      <th>Sell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of appState$.rates">
      <td [ngClass]="{marked: rate.marked}">{{rate.label}}</td>
      <td [ngClass]="{marked: rate.marked}">{{rate.buyValue | number : '1.4-4'}}</td>
      <td [ngClass]="{marked: rate.marked}">{{rate.sellValue | number : '1.4-4'}}</td>
    </tr>
  </tbody>
</table>